<% include partials/header %>

<link rel="stylesheet" href="../css/style_index.css">

<div id="showcase">
    <h1>Welcome to War of Words!</h1>
    <p>Play the most intense text battle game online with your friends right now</p>
    <button id="create_room">CREATE ROOM</button>
    <p>or</p>
    <form action="/room" method="POST">
        <input type="text" class="form_field" placeholder="Enter Room ID" name="roomID" autocomplete="off">
        <input type="submit" id="join_room" value="JOIN ROOM">
    </form>
</div>

<% include partials/flashMessage %>

<script src="/js/script.js"></script>
<% include partials/footer %>